body {
    font-size: 16px; 
    background: -webkit-linear-gradient(to right, #ffffff, #000000);
    background: linear-gradient(to right, #A0B5EB, #C9F0E4); 
}

.nav-link {
    font-weight: 600;
}

.text-justify {
    text-align: justify;
}

.card:hover {
    opacity: 0.7;
}

.card-text {
    text-align: justify;
}

#txtComment {
    resize: none;
}
#col-parrafo{
    font-size: 20px;
    font-weight: 700;
}

@media (max-width: 576px) {
    .card-text {
        font-size: 0.8rem;
    }

}





